@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-style: normal;
}

:root {
  --main-bg-color: #f0f0f0;
  --primary-blue: #0470ee;
  --primary-red: #e61919;
  --primary-hover-red: #b91c1c;
  --text-gray: #717171;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  border: none;
  box-sizing: border-box;
}
